// Font.
$font: (
  primary: ("PT Sans", sans-serif),
  secondary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #5e5e5e,
  secondary:     darken(#5e5e5e, 25%),
  meta:          #757575,
  border:        lighten(#5e5e5e, 50%),
  bg:            lighten(#5e5e5e, 60%),
  brand:        #016fd6,
  brand-darker:   darken(#016fd6, 10%),
  intro:         #016fd6,
  beginnings:    #009850,
  family:        rgb(244, 224, 6),
  exodus:        #d70018,
  leaders:       #3d0079,
  messengers:    rgb(255, 153, 0),
  exile:         grey,
  home:           #009850,

);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/timeline";
@import "imports/timeline-logo";
@import "imports/blocks";
@import "imports/sets";