// Font.
$font: (
  primary: ("PT Sans", sans-serif),
  secondary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #5e5e5e,
  secondary:     darken(#5e5e5e, 25%),
  meta:          #757575,
  border:        lighten(#5e5e5e, 50%),
  bg:            lighten(#5e5e5e, 60%),
  brand:        #016fd6,
  brand-darker:   darken(#016fd6, 10%),
  intro:         #016fd6,
  beginnings:    #4FBB7D,
  family:        #F5E411,
  exodus:        #E14430,
  leaders:       #8438B7,
  messengers:    #FFA217,
  exile:         #CE820F,
  home:          #4FBB7D,
  jesus:         #30C2E2,
  rescue:        #016fd6,
  mission:       #F10B7A
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/timeline";
@import "imports/timeline-logo";
@import "imports/blocks";
@import "imports/sets";