// Font.
$font: (
  primary: ("PT Sans", sans-serif),
  secondary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #5e5e5e,
  secondary:     darken(#5e5e5e, 25%),
  meta:          #757575,
  border:        lighten(#5e5e5e, 50%),
  bg:            lighten(#5e5e5e, 60%),
  accent:        #016fd6,
  intro:         #016fd6,
  beginnings:    rgb(8, 92, 8),
  family:        rgb(244, 224, 6),
  exodus:        rgb(218, 9, 9),
  leaders:       rgb(123, 3, 123),
  messengers:    rgb(255, 153, 0),
  exile:         grey,

);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/subscribe";
@import "imports/footer";