// Block
.intro-block {
  margin-bottom: 2.5rem;

  @media only screen and (min-width: 801px) {
    margin-bottom: 3.33333rem;
  }
}

.intro-text {
  color: _palette(secondary);
  font-family: _font(secondary);
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 1.66667rem;

  > * {
    margin-bottom: 1.66667rem;
  }

}

.intro-cta {
  .button {
    margin: 0 15px 0.83333rem 0;
  }
}

// Hero block

.hero-block {
    background-color: _palette(brand-darkest);
    color: #fff;
    padding: 2em 0;
    margin-bottom: 3.33333em;
  
    .js-reframe {
      margin-bottom: 0;
    }
  
    h2 {color: #fff;}
  
    .hero-cta {
      margin-bottom: 0;
    }
      
  }

  .block-ns {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
  }


  .dt {
    display: table;
  }
  
  .dtc {
    display: table-cell;
  }
  
  .dt--fixed {
    table-layout: fixed;
    width: 100%;
  }
  
  .v-mid {
    vertical-align: middle;
  }
  
  .pa3 {
    padding: 1.5em;
  }

  .w-100 {
      width: 100%;
  }
  
  @media only screen and (min-width: 681px) {
  
    .dt-ns {
      display: table;
    }

    .dtc-ns {
        display: table-cell;
      }
  
    .dt--fixed-ns {
      table-layout: fixed;
      width: 100%;
    }
  
  }