// Content
// ----------------------------------------------------------------------------

.post {
  margin-bottom: 3.33333em;
}

.post-meta {
  color: _palette(meta);
  font-size: 0.88889rem;
  letter-spacing: 0.07em;
  line-height: 1.5;
  margin-bottom: 0.83333rem;
  text-transform: uppercase;
}

.post-image {
  width: 200px;
  border-radius: 0.25rem;
}

.post-title {
  font-size: 2.66667rem;

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(primary);
    }
  }
}

.post-subtitle {
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.post-thumbnail {
  display: block;
  margin-bottom: 2.5rem;

  img {
    width: 100%;
  }
}

.post-scripture {
  font-family: _font(secondary);
}

// Post feed
.post-feed {
  margin-bottom: 4vw;
}

.post-feed {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}

.post-card {
  height: 100%;
  flex: 0 0 80%;
  margin: 0 0.5rem 0 0.5rem;
  //scroll-snap-align: center;
}

.post-card {
  margin-bottom: 4vw;

  .post-header {
    margin-bottom: 0.83333rem;
  }

  .post-meta {
    font-size: 14px;
  }

  .post-title {
    font-size: 1.66667rem;
    margin-bottom: 0.5rem;
  }

  .post-excerpt {
    font-size: 16px;
  }
}

.post-card-inside {
  border: 1px solid _palette(border);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.post-card-thumbnail {
  border: 0;
  border-radius: 3px 3px 0 0;
  display: block;
  margin: 0;

  img {
    border-radius: 3px 3px 0 0;
    width: 100%;
  }
}

.post-card-content {
  padding: 1.33333rem 1.66667rem 0.33333rem;
}

@media only screen and (min-width: 681px) {

  .layout-list {
    .post-card-inside {
      flex-direction: row-reverse;
    }

    .post-card-thumbnail {
      border-radius: 0 3px 3px 0;
      flex: 0 0 40%;

      img {
        border-radius: 0 3px 3px 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .post-card-content {
      flex: 1 1 auto;

      &:only-child {
        border-right: 165px solid rgba(_palette(brand), 0.1);
        padding-right: 7%;
      }
    }
  }
}

@media only screen and (min-width: 751px) {
  .post-feed {
    margin-bottom: 1.66667em;
  }

  .post-card {
    margin-bottom: 1.66667em;
  }
  .post-card {
    height: 100%;
    flex: 0 0 25%;
    margin: 0 0.5rem 0 0.5rem;
    scroll-snap-align: center;
  }

  .layout-list {
    .post-card {
      margin-bottom: 2.5em;
    }
  }
}

// Post navigation

.post-nav-title {
  font-size: 1.33333rem;
  margin-bottom: 1.66667rem;
}


.post-navigation {
  margin-bottom: 1.66667rem;
}

.post-nav-image {
  width: 5em;
}

.post-navigation-item {
  text-align: center;
}

