// Content
// ----------------------------------------------------------------------------

.post {
  margin-bottom: 3.33333em;
}

.post-meta {
  color: _palette(meta);
  font-size: 0.88889rem;
  letter-spacing: 0.07em;
  line-height: 1.5;
  margin-bottom: 0.83333rem;
  text-transform: uppercase;
}

.post-title {
  font-size: 2.66667rem;

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(primary);
    }
  }
}

.post-subtitle {
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.post-thumbnail {
  display: block;
  margin-bottom: 2.5rem;

  img {
    width: 100%;
  }
}

.post-scripture {
  font-family: _font(secondary);
}

// Post feed
.post-feed {
  margin-bottom: 4vw;
}


.post-feed {
display: flex;
flex-wrap: nowrap;
overflow-x: scroll;
-webkit-overflow-scrolling: touch;
scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

}

.post-card {
  height: 100%;
  flex: 0 0 80%;
  margin: 0 0.5rem 0 0.5rem;
  //scroll-snap-align: center;

} 


.post-card {
  margin-bottom: 4vw;

  .post-header {
    margin-bottom: 0.83333rem;
  }

  .post-meta {
    font-size: 14px;
  }

  .post-title {
    font-size: 1.66667rem;
    margin-bottom: 0.5rem;
  }

  .post-excerpt {
    font-size: 16px;
  }
}

.post-card-inside {
  border: 1px solid _palette(border);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.post-card-thumbnail {
  border: 0;
  border-radius: 3px 3px 0 0;
  display: block;
  margin: 0;

  img {
    border-radius: 3px 3px 0 0;
    width: 100%;
  }
}

.post-card-content {
  padding: 1.33333rem 1.66667rem 0.33333rem;
}

@media only screen and (min-width: 681px) {
  .layout-grid {
    .post-feed {
      display: flex;
      flex-wrap: wrap;
      margin-left: -2vw;
      margin-right: -2vw;
    }

    .post-card {
      display: flex;
      flex: 0 0 25%;
      flex-direction: column;
    }

    .post-card-inside {
      flex: 1 1 auto;
      flex-direction: column;
      margin-left: 2vw;
      margin-right: 2vw;
    }

    .post-card-content {
      &:only-child {
        border-top: 50px solid rgba(_palette(accent),0.1);
      }
    }
  }

  .layout-list {
    .post-card-inside {
      flex-direction: row-reverse;
    }

    .post-card-thumbnail {
      border-radius: 0 3px 3px 0;
      flex: 0 0 40%;

      img {
        border-radius: 0 3px 3px 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .post-card-content {
      flex: 1 1 auto;

      &:only-child {
        border-right: 165px solid rgba(_palette(accent),0.1);
        padding-right: 7%;
      }
    }
  }
}

@media only screen and (min-width: 751px) {


  .post-feed {
    margin-bottom: 1.66667em;
  }

  .post-card {
    margin-bottom: 1.66667em;
  }
  .post-card {
    height: 100%;
    flex: 0 0 25%;
    margin: 0 0.5rem 0 0.5rem;
    scroll-snap-align: center;
  
  } 
  

  .layout-grid {
    .post-feed {
      margin-left: -0.83333em;
      margin-right: -0.83333em;
    }

    .post-card-inside {
      margin-left: 0.833333em;
      margin-right: 0.833333em;
    }
  }

  .layout-list {
    .post-card {
      margin-bottom: 2.5em;
    }
  }
}

/* Intro section */
.intro {
  margin-bottom: 2.5rem;

  @media only screen and (min-width: 801px) {
    margin-bottom: 3.33333rem;
  }
}

.intro-text {
  color: _palette(secondary);
  font-family: _font(secondary);
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 1.66667rem;

  > * {
    margin-bottom: 1.66667rem;
  }
}

.intro-cta{
  margin-bottom: 1.66667rem;

  .button {
    margin: 0 15px 0.83333rem 0;
  }
}

/* Pagination */
.pagination {
  margin: 0 0 3.33333em;

  .nav-links {
    padding: 0 60px;
    position: relative;
    text-align: center;
  }

  .page-number {
    color: _palette(meta);
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.07em;
    line-height: 1.5;
    padding: 0.67857em 0;
    text-transform: uppercase;
  }

  .newer-posts,
  .older-posts {
    height: 40px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 45px;
  }

  .older-posts {
    left: 0;
  }

  .newer-posts {
    right: 0;
  }
}

/* Post navigation */
.post-nav-title {
  font-size: 1.33333rem;
  margin-bottom: 1.66667rem;
}

.set-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x proximity;
  padding: 0 1.5em;
  scroll-behavior: smooth;
}

.set {
  margin-bottom: 2rem;

}
.cards {
  display: flex;
  min-height: 21rem;
  margin: 0.5rem 0;
  position: relative;
  list-style-type: none;
  padding: 0;
  scroll-snap-align: start;

}

.card {
  width: 11em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  border: 2px solid #A5D3FD;
  padding: 0.75rem;
  border-radius: 0.33rem;
  position: relative;
}

.card a {
  outline: none;
}

.card a {
  text-decoration: none;
  border: none;
}

.card a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card a:focus {
  outline: none;
  text-decoration: underline;
}

.card:focus-within,
.card:hover {
  box-shadow: 0 0 0 0.33rem #A5D3FD;
}

.card:focus-within h2 a:focus {
  text-decoration: none;
}

.card-title {
  font-size: 1.2em;
}


.card-subtitle {
  margin-bottom: 0;
}

.card-image {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.set-excerpt {
  width: 80vw;
}

@media only screen and (min-width: 681px) {
  .set-excerpt {
    width: 30vw;
    max-width: 28rem;
  }
}

.set-title {
  margin-bottom: 0.25em;
}

.timeline-period {
  font-size: 1rem;
  font-weight: normal;
}

.post-image {
  width: 200px;
  border-radius: 0.25rem;
}

.flex {
  display: flex;
}

.ml-auto {
  margin-left: auto;
}

.w-50 {
  width: 50%;
}

.scrolls {
  text-align: center;
}


.timeline-bar {
  width: 100%; 
  height: 0.75em; 
  margin: 2em 0;
  border-radius: 1em;
}

.timeline-marker {
  background-color: #ffffff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 2em;
  display: block;
  position: relative;
  top: -0.5em;
  left: -0.75em;
  border: 2px solid #5e5e5e;
}
.set-intro {
  .timeline-bar {
    background-color: _palette(intro);
  }

  .card {
    border-color: _palette(intro);
  }
}

.set-beginnings {
  .timeline-bar {
    background-color: _palette(beginnings);
  }

  .card {
    border-color: _palette(beginnings);
  }
}
.set-family {
  .timeline-bar {
    background-color: _palette(family);
  }

  .card {
    border-color: _palette(family);
  }
}
.set-exodus {
  .timeline-bar {
    background-color: _palette(exodus);
  }

  .card {
    border-color: _palette(exodus);
  }
}
.set-leaders {
  .timeline-bar {
    background-color: _palette(leaders);
  }

  .card {
    border-color: _palette(leaders);
  }
}
.set-messengers {
  .timeline-bar {
    background-color: _palette(messengers);
  }

  .card {
    border-color: _palette(messengers);
  }
}
.set-exile {
  .timeline-bar {
    background-color: _palette(exile);
  }

  .card {
    border-color: _palette(exile);
  }
}

.card-marker {
  display: flex;
  align-items: flex-end;
  border-top-width: 1em;
  width: 7em;
  height: 9em;
}

.card-marker--inner {
  text-align: left;
}
.set-outro {
  .timeline-bar {
    background-color: _palette(outro);
  }

  .card {
    border-color: _palette(outro);
  }
}

.set-period {
  margin-bottom: 0;
}

// Timeline navigator

.nav-timeline {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}


.nav-timeline-item {
  border-bottom: 8px solid transparent;

  &.set-intro {border-bottom-color: _palette(intro);}
  &.set-beginnings {border-bottom-color: _palette(beginnings);}
  &.set-family {border-bottom-color: _palette(family);}
  &.set-exodus {border-bottom-color: _palette(exodus);}
  &.set-leaders {border-bottom-color: _palette(leaders);}
  &.set-messengers {border-bottom-color: _palette(messengers);}

  a {
    border: none;
    padding: 0 0.5rem;

  }
}


.faq {
  background-color: _palette(accent);
  color: #fff;
  padding-top: 3.33333em;
  padding-bottom: 3.33333em;

  h2 {
    color: #fff;
    text-align: center;
    font-size: 2.22222rem;
    margin-bottom: 2.22222rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}