/**
 * Site Header
 * ----------------------------------------------------------------------------
 */
.site-header {
  background: #fff;
  border-top: 5px solid _palette(brand);
  border-bottom: 1px solid _palette(border);
  padding-bottom: 1em;
  padding-top: 1em;
}

.site-header-inside {
  align-items: center;
  display: flex;
  justify-content: center;
}

.site-branding {
  flex: 0 1 auto;
  text-align: center;
  width: 100%;
  max-width: 28em;
  margin-bottom: 1em;
}

.link-logo {
  border: 0;
}

.site-title {
  color: _palette(secondary);
  font-family: _font(secondary);
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;

  a {
    border: 0;
    color: inherit;
  }
}