// Homepage FAQs

.faq {
    background-color: _palette(brand-darker);
    color: #fff;
    padding-top: 3.33333em;
    padding-bottom: 3.33333em;
  
    .faq-inner {
    padding-left: 4vw;
    padding-right: 4vw;
    }
  
    h2 {
      color: #fff;
      text-align: center;
      font-size: 2.22222rem;
      margin-bottom: 2.22222rem;
    }

    h3 {
      color:#fff;
    }
  
    a {
      color: #fff;
      border-color: #fff;
  
      &:hover {
        border-color: _palette(brand);
        text-decoration: none;
      }
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
  
  .question {
    font-size: 1.33333rem;
  }

  .steps {
      padding-top: 3.33333em;
      padding-bottom: 3.33333em;

  }