.set-intro,
.set-outro {
  .timeline-bar {
    background-color: _palette(intro);
  }

  .card {
    border-color: _palette(intro);
  }
}

.set-beginnings {
  .timeline-bar {
    background-color: _palette(beginnings);
  }

  .card {
    border-color: _palette(beginnings);
  }
}
.set-family {
  .timeline-bar {
    background-color: _palette(family);
  }

  .card {
    border-color: _palette(family);
  }
}
.set-exodus {
  .timeline-bar {
    background-color: _palette(exodus);
  }

  .card {
    border-color: _palette(exodus);
  }
}
.set-leaders {
  .timeline-bar {
    background-color: _palette(leaders);
  }

  .card {
    border-color: _palette(leaders);
  }
}
.set-messengers {
  .timeline-bar {
    background-color: _palette(messengers);
  }

  .card {
    border-color: _palette(messengers);
  }
}
.set-exile {
  .timeline-bar {
    background-color: _palette(exile);
  }

  .card {
    border-color: _palette(exile);
  }
}

.set-jesus {
  .timeline-bar {
    background-color: _palette(jesus);
  }

  .card {
    border-color: _palette(jesus);
  }
}

.set-rescue {
  .timeline-bar {
    background-color: _palette(rescue);
  }

  .card {
    border-color: _palette(rescue);
  }
}

.set-mission {
  .timeline-bar {
    background-color: _palette(mission);
  }

  .card {
    border-color: _palette(mission);
  }
}
