// Timeline navigator

.nav-timeline {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  margin: 1.5rem auto;
  white-space: nowrap;
}

.nav-timeline-item {
  border-bottom: 8px solid transparent;
  display: inline-block;
  text-align: center;
  margin-right: -5px;

  a {
    border-width: 8px;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a:hover {
    opacity: 0.5;
  }

  a img {
    margin-right: 0.25em;
  }

  &.set-intro,
  &.set-outro {
    display: none;
  }
  
  &.set-beginnings,
  &.set-home{
    a {border-color: _palette(beginnings);}
  }
  &.set-family {
    a {border-color: _palette(family);}
  }
  &.set-exodus {
    a {border-color: _palette(exodus);}
  }
  &.set-leaders {
    a {border-color: _palette(leaders);}
  }
  &.set-messengers {
    a {border-color: _palette(messengers);}
  }
  &.set-exile {
    a {border-color: _palette(exile);}
  }
  &.set-jesus {
    a {border-color: _palette(jesus); width: 10em;}
  }
  &.set-mission {
    a {border-color: _palette(mission);}
  }


}

.timeline-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x proximity;
  padding: 0 1.5em;
  scroll-behavior: smooth;
}

.set {
  margin-bottom: 2rem;
}

.set-title {
  margin-bottom: 0.25em;
  margin-top: 0;
}

.set-period {
  margin-bottom: 0;
}

// Timeline bar & markers
.timeline-bar {
  width: 100%;
  height: 0.75em;
  margin: 2em 0;
  border-radius: 1em;
}

  .timeline-marker {
    background-color: #ffffff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 2em;
    display: block;
    position: relative;
    top: -0.5em;
    left: -0.75em;
    border: 2px solid #5e5e5e;
  }

.timeline-cards {
  display: flex;
  min-height: 21rem;
  margin: 0.5rem 0;
  position: relative;
  list-style-type: none;
  padding: 0;
  scroll-snap-align: start;
}

.timeline-card {
  width: 13em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  border: 2px solid #a5d3fd;
  padding: 0.75rem;
  border-radius: 0.33rem;
  position: relative;
  padding-top: 1em;

  a {
  outline: none;
  text-decoration: none;
  border: none;
  
    &:focus {
    outline: none;
    text-decoration: underline;
    }

    &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    }
  
  }

  &:focus-within,
  &:hover {
  box-shadow: 0 0 0 0.33rem #a5d3fd;
  }

  &:focus-within h2 a:focus {
  text-decoration: none;
  }

}

.timeline-card__title {
  font-size: 1.1em;
  text-transform: uppercase;
}

.timeline-card__subtitle {
  margin-bottom: 0;
}

.timeline-card__image {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.timeline-card-marker {
  display: flex;
  align-items: center;
  border-top-width: 1em;
  width: 8em;
  height: 9em;
  justify-content: center;

  a {
    text-decoration: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: _palette(brand);
  }

  a:hover {
    text-decoration: none;
    border: none;
  }
}

.timeline-card-marker--inner {
  text-align: left;
}

.set-intro,
.set-outro {
  .timeline-bar {background-color: _palette(intro);}
  .timeline-card {border-color: _palette(intro);
  }
}

.set-beginnings,
.set-home {
  .timeline-bar {background-color: _palette(beginnings);}
  .timeline-card {border-color: _palette(beginnings);
  }
}
.set-family {
  .timeline-bar {background-color: _palette(family);}
  .timeline-card {border-color: _palette(family);
  }
}
.set-exodus {
  .timeline-bar {background-color: _palette(exodus);}
  .timeline-card {border-color: _palette(exodus);
  }
}
.set-leaders {
  .timeline-bar {background-color: _palette(leaders);}
  .timeline-card {border-color: _palette(leaders);
  }
}
.set-messengers {
  .timeline-bar {background-color: _palette(messengers);}
  .timeline-card {border-color: _palette(messengers);
  }
}
.set-exile {
  .timeline-bar {background-color: _palette(exile);}
  .timeline-card {border-color: _palette(exile);}
}

.set-jesus {
  .timeline-bar {background-color: _palette(jesus);}
  .timeline-card {border-color: _palette(jesus); }
}

.set-rescue {
  .timeline-bar {background-color: _palette(rescue);}
  .timeline-card {border-color: _palette(rescue);}
}

.set-mission {
  .timeline-bar {background-color: _palette(mission);}
  .timeline-card {border-color: _palette(mission);}
}



.timeline-pager__prev,
.timeline-pager__next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.timeline-pager__prev {
  left:0;
}
.timeline-pager__next {
  right:0;
}
.timeline-pager__prev::after,
.timeline-pager__next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.timeline-pager__next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}