{{ define "content" }}

  {{ range $section := .Params.sections }}
    {{ $include_dict := dict "section" $section "Site" $.Site }}
    {{ partial $section.component $include_dict }}
  {{ end }}

  {{ if .Params.image }}
  <div class="post-thumbnail">
    <img src="{{ .Params.image | relURL }}" alt="" />
  </div>
  {{ end }}

  {{ partial "nav-timeline.html" . }}
  {{ partial "timeline.html" . }}


<section class="faq full-bleed">
  <div class="faq-inner">
    <h2>Frequently asked questions</h3>
    <dl class="faq-list">
      {{ $faqs := where .Site.Pages "Section" "faqs" }}
      {{ range sort $faqs ".Page.Params.order" "asc" }}
        <dt class="question">{{ .Title }}</dt>
        <dd>{{ .Content }}</dd>
      {{ end }}
      </dl>
  </div>
</section>



{{ end }}
