{{ define "content" }}

  {{ range $section := .Params.sections }}
    {{ $include_dict := dict "section" $section "Site" $.Site }}
    {{ partial $section.component $include_dict }}
  {{ end }}

  {{ if .Params.image }}
  <div class="post-thumbnail">
    <img src="{{ .Params.image | relURL }}" alt="" />
  </div>
  {{ end }}

  <div class="full-bleed steps">
    <ol class="step-list">
      <li class="step step-pill">Review it</li>
      <li class="step step-circle step--watch"><div class="step-icon"><img src="/uploads/watch-it.png" alt="" width="32" height="32"></div>Watch it</li>
      <li class="step step-circle step--read"><div class="step-icon"><img src="/uploads/read-it.png" alt="" width="32" height="32"></div>Read it</li>
      <li class="step step-circle step--quiz"><div class="step-icon"><img src="/uploads/quiz-it.png" alt="" width="32" height="32"></div>Quiz it</li>
      <li class="step step-circle step--pray"><div class="step-icon"><img src="/uploads/pray-it.png" alt="" width="32" height="32"></div>Pray it</li>
      <li class="step step-circle step--do"><div class="step-icon"><img src="/uploads/do-it.png" alt="" width="32" height="32"></div>Do it</li>
      <li class="step step-pill">Place it</li>
    </ol>
  </div>
  <div class="tc pa3">
  <ul class="list-inline">
    <li><strong>40</strong> Devotionals</li>
    <li><strong>15</strong> minute sessions</li>
    <li>Interactive content</li>
  </ul>
  </div>

  {{ partial "nav-timeline.html" . }}
  {{ partial "timeline.html" . }}
  {{ partial "faq-block.html" . }}

{{ end }}
