{{ define "content" }}

  <article class="post post-full">


    <header class="post-header flex">
      <div class="">
      <h1 class="post-title">{{ .Params.title }}</h1>
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ .Params.subtitle | safeHTML }}
      </div><!-- .post-subtitle -->
      {{ end }}
      </div>
      <div class="ml-auto">
        {{ if .Params.thumb_img_path }}
        <img class="post-image" src="{{ .Params.thumb_img_path | relURL }}" alt="{{ .Params.title }}" />
        {{ end }}
      </div>
    </header><!-- .post-header -->

    <!--{{ if .Params.timeline_position }}
    <div class="post-thumbnail">
      <img class="thumbnail" src="{{ .Params.timeline_position | relURL }}" alt="{{ .Params.title }}" />
    </div>
    {{ end }}-->
    {{ if .Params.review }}
    <div class="intro">
      <h2>Review it</h2>
      <p>{{ .Params.review | safeHTML }}</p>
    </div>
    {{ end }}

    <div class="post-content">
      {{ if .Params.watch }}
      <div>
        <h2>Watch it</h2>
        <!-- <div class="full-bleed">{{ .Params.watch | safeHTML }}</div> -->
        {{ .Params.watch | safeHTML }}
      </div>
      {{ end }}
    {{ if .Params.scripture }}
    <div>
      <h2>Read it</h2>
      <p>{{ .Params.scripture }}</p>
      {{ if .Params.read_scripture }}
        <div class="post-scripture">
          <p>{{ .Params.read_scripture | safeHTML }}</p>
        </div>
      {{ end }}
    </div>
    {{ end }}
    {{ if .Params.questions }}
    <div>
      <h2>Quiz it</h2>
      {{ partial "markdownify-block" .Params.questions }}
    </div>
    {{ end }}
    {{ if .Params.prayer }}
    <div>
      <h2>Pray it</h2>
      {{ partial "markdownify-block" .Params.prayer }}
    </div>
    {{ end }}
    {{ if .Params.action }}
    <div>
      <h2>Do it</h2>
      {{ partial "markdownify-block" .Params.action }}
    </div>
    {{ end }}
    {{ if .Params.place }}
    <div>
      <h2>Place it</h2>
      {{ partial "markdownify-block" .Params.place }}
    </div>
    {{ end }}
    <hr />
    {{ partial "story-navigation.html" . }}

    {{ partial "feedback.html" .}}
      {{ .Content | safeHTML }}
    </div>
  </article>


  

{{ end }}
