{{ define "content" }}

  <article class="post post-full">
    <header class="post-header">
      <h1 class="post-title">{{ .Params.title }}</h1>
    </header><!-- .post-header -->
    {{ if .Params.subtitle }}
    <div class="post-subtitle">
      {{ .Params.subtitle | safeHTML }}
    </div><!-- .post-subtitle -->
    {{ end }}
    {{ if .Params.content_img_path }}
    <div class="post-thumbnail">
      <img class="thumbnail" src="{{ .Params.content_img_path | relURL }}" alt="{{ .Params.title }}" />
    </div>
    {{ end }}
    {{ if .Params.review }}
    <div class="intro">
      <h2>Review it</h2>
      <p>{{ .Params.review | safeHTML }}</p>
    </div>
    {{ end }}

    <div class="post-content">
      {{ if .Params.watch }}
      <div>
        <h2>Watch it</h2>
        <!-- <div class="full-bleed">{{ .Params.watch | safeHTML }}</div> -->
        {{ .Params.watch | safeHTML }}
      </div>
      {{ end }}
    {{ if .Params.scripture }}
    <div>
      <h2>Read it</h2>
      <p>{{ .Params.scripture }}</p>
      {{ if .Params.read_scripture }}
        <div class="post-scripture">
          <p>{{ .Params.read_scripture | safeHTML }}</p>
        </div>
      {{ end }}
    </div>
    {{ end }}
    {{ if .Params.questions }}
    <div>
      <h2>Quiz it</h2>
      {{ .Params.questions | markdownify }}
    </div>
    {{ end }}
    {{ if .Params.prayer }}
    <div>
      <h2>Pray it</h2>
      <p>{{ .Params.prayer | markdownify }}</p>
    </div>
    {{ end }}
    {{ if .Params.action }}
    <div>
      <h2>Do it</h2>
      <p>{{ .Params.action | markdownify }}</p>
    </div>
    {{ end }}
    {{ if .Params.place }}
    <div>
      <h2>Place it</h2>
      <p>{{ .Params.place | markdownify }}</p>
    </div>
    {{ end }}
    <hr />
    <div>
      <h3>Improve it</h3>
    <form name="session-feedback" method="POST" netlify-honeypot="bot-field" data-netlify="true" action="/feedback-thankyou">
      <p hidden>
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
      <p hidden>
        <label>Session name: <input type="text" name="session" value="{{ .Params.title }}" /></label>
      </p>
      <p>
        <label>Full name <span>(optional)</span> <input type="text" name="email" /></label>
      </p>
      <p>
        <label>Email <span>(optional)</span> <input type="text" name="email" /></label>
      </p>
      <p>
        <label>Session feedback <textarea name="feedback"></textarea></label>
      </p>
      <p>
        <button type="submit">Send feedback</button>
      </p>
    </form>
    </div>
      {{ .Content | safeHTML }}
    </div><!-- .post-content -->
  </article><!-- .post -->

  <!-- Next/previous post navigation TBD -->
  <!--
  <nav class="post-navigation">
    <h2 class="post-nav-title">Read Next</h2>
    <div class="post-feed">
      <article class="post post-card">
        <div class="post-card-inside">
          <a class="post-card-thumbnail" href="#">
            <img class="thumbnail" src="#" alt="" />
          </a>
          <div class="post-card-content">
            <header class="post-header">
              <div class="post-meta">
                <time class="published" datetime="">Previous post date</time>
              </div>
              <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
            </header>
            <div class="post-excerpt">
              <p>Previous post excerpt</p>
              <p class="read-more">
                <a class="button inverse" href="#">Read more</a>
              </p>
            </div>
          </div>
        </div>
      </article>
      <article class="post post-card">
        <div class="post-card-inside">
          <a class="post-card-thumbnail" href="#">
            <img class="thumbnail" src="#" alt="" />
          </a>
          <div class="post-card-content">
            <header class="post-header">
              <div class="post-meta">
                <time class="published" datetime="">Next post date</time>
              </div>
              <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
            </header>
            <div class="post-excerpt">
              <p>Next post excerpt</p>
              <p class="read-more">
                <a class="button inverse" href="#">Read more</a>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </nav>
  -->

{{ end }}
