<footer id="colophon" class="site-footer">
  <div class="inner">
    <div class="site-footer-inside">
      <div class="site-info">
        <p class="copyright">{{ .Site.Params.footer.copyright | safeHTML }}</p>
        <ul class="list-inline">
          {{ range .Site.Params.footer.links }}
            <li>
              <a href="{{ .url }}">{{ .text  | markdownify }}</a>
            </li>
          {{ end }}
        </ul>

        <ul class="list-inline quicklinks">
          {{ range .Site.Params.footer.quicklinks }}
            <li>
              <a href="{{ .link }}">{{ .text  | markdownify }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <!-- .site-info -->
      <div class="copyright-summary">
        <p>{{ .Site.Params.footer.content | safeHTML }}</p>
      </div>
    </div>
    <!-- .site-footer-inside -->
  </div>
  <!-- .inner -->
</footer>
<!-- .site-footer -->