<section class="faq full-bleed">
  <div class="faq-inner">
    <h2><!--{{ i18n "faq_title" }}--> Get Started</h3>
    <p>A visual walkthough of how you would use it with your family.</p>
    
    <h3>Find a time slot</h3>
    <p>You need to find about 15 minutes everyday. You could do it after breakfast, or before bedtime. The same time each day really helps.</p>
    
    <h3>Print cards</h3>
    <p>Links to the PDF for each set of the cards. Print our rhe pd in colour on to white card. <a href="#">Download printable card files</a>
    </p>
    
    <h3>Setting up the timeline</h3>
    <p>The cards could stand up on a window sill, but we used some string and suction cups.Our storyline is strung up across the kitchen window.</p>
    
    <h3>Do the first session</h3>
    <p>The Bible - The Greatest Story ever</p>
  </div>
</section>