<section class="getting-started full-bleed">
  <div class="inner">

    
    <div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_l_5LPVCBeg?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <h2>Get started</h3>
    <p>A visual walkthough of how you would use it with your family.</p>
    
    <h3>Find a time slot</h3>
    <p>You need to find about 15 minutes everyday. You could do it after breakfast, or before bedtime. The same time each day really helps.</p>
    
    <h3>Print cards</h3>
    <p>Download each of the sets as PDFs and print them in colour on to white card. <a href="/get-started#sets-of-cards-to-print">Download printable cards.</a>
    </p>
    
    <h3>Setting up the timeline</h3>
    <p>The cards could stand up on a window sill or shelf, be hung across a window with little <a href="https://amzn.eu/d/4UnjVEg">suction cups</a>, or alternatively across a radiator using little <a href="https://amzn.eu/d/5QpYmsY">magnet hooks</a>.</p>
    
    <h3>Do the first session</h3>
    <p><a href="/stories/intro/">The Bible - The Greatest Story ever</a></p>
  </div>
</section>