<div id="{{ .section.section_id }}" class="full-bleed hero-block">

  <div class="block">
    <div class="col">
      {{ .section.embed | safeHTML }}
    </div>

    <div class="col">
      <div class="hero-title">
        <h2>{{ .section.title }}</h2>
      </div>

      <div class="hero-textarea">
        {{ partial "markdownify-block" .section.content }}
      </div>
      
      {{ if .section.actions }}
      <p class="hero-cta">
        {{ range $action := .section.actions }}
        <a href="{{ $action.url | relURL }}" class="button">{{ $action.label }}</a>
        {{ end }}
      </p>
      {{ end }}
    </div>
  </div>

</div><!-- .hero -->
