<div id="{{ .section.section_id }}" class="full-bleed hero-block">

  <div class="block-ns dt-ns dt--fixed-ns w-100">
    <div class="dtc-ns v-mid pa3">
      {{ .section.embed | safeHTML }}
    </div>

    <div class="dtc-ns v-mid pa3">
      <div class="hero-title">
        <h2>{{ .section.title }}</h2>
      </div>

      <div class="hero-textarea">
        {{ partial "markdownify-block" .section.content }}
      </div>
      
      {{ if .section.actions }}
      <p class="hero-cta">
        {{ range $action := .section.actions }}
        <a href="{{ $action.url | relURL }}" class="button outline">{{ $action.label }}</a>
        {{ end }}
      </p>
      {{ end }}
    </div>
  </div>

</div><!-- .hero -->
