    <!--<h2>{{ i18n "timeline_title" }}</h2>-->
    <p class="nav-timeline-title">{{ i18n "timeline_description" }}</p>
<ul class="nav-timeline">
    {{ range sort .Site.Taxonomies.timeline ".Page.Params.order" "asc"}}
        <li class="nav-timeline-item set-{{ lower .Page.Params.title }}">
            
            <a href="#set-{{ lower .Page.Params.title }}"><img width="32" height="32" src="{{ .Page.Params.icon | relURL }}" alt="" />{{ title .Page.Params.title }}</a>
        </li>
    {{ end }}
</ul>