<div class="scrolls">
    <span class="left">←</span>
    <span class="center">Scroll your mouse</span>
    <span class="right">→</span>
</div>
<div class="set-wrapper">

    {{ range sort .Site.Taxonomies.timeline ".Page.Params.order" "asc" }}
        <section class="set set-{{ lower .Page.Params.title }}">
            <ul class="cards">
                {{ range .Pages.ByParam "order" }}
                    <li class="card">
                        <h3 class="card-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Params.title }}</a></h3>

                        {{ if .Params.thumb_img_path }}
                        <img class="card-image" width="216" height="288" src="{{ .Params.thumb_img_path | relURL }}" alt="{{ .Params.title }}" />
                        {{ end }}
                    
                        <div>
                        <p class="card-subtitle">{{ .Params.subtitle }}</p>
                        </div>
                    </li>
                {{ end }}
            </ul>

            <div class="timeline-bar" style="background-color: {{ .Page.Params.colour }};">

            <div style="background-color: #ffffff; width: 1.5em; height: 1.5em; border-radius: 1em; display: block; position: relative; top: -0.5em; left: -0.75em; border: 1px solid #5e5e5e"></div>
            </div>
        
            <header>

                <h2 class="set-title">{{ .Page.Params.title }} {{ if .Page.Params.period }}<span class="timeline-period">{{ .Page.Params.period }}</span>{{ end }}</h2>

                {{ if .Page.Params.excerpt }}
                <div class="set-excerpt">
                    <p>{{ .Page.Params.excerpt }}</p>
                </div>
                {{ end }}
                {{ if .Page.Params.set_download }}
                <div>
                    <a href="{{.Page.Params.set_download}}">Download set</a>
                </div>
                {{ end }}
            </header>
        </section>
    {{ end }}
</div>