<div class="set-wrapper">

    {{ range sort .Site.Taxonomies.timeline ".Page.Params.order" "asc" }}
        <section class="set set-{{ lower .Page.Params.title }}" id="{{ lower .Page.Params.title }}">
            
            <div class="timeline-bar">
                <div class="timeline-marker"></div>
            </div>
           
            <ul class="cards">
                <li class="card card-marker">
                    <div class="card-marker--inner">    
                        <div>
                        <h3 class="set-title">{{ .Page.Params.title }}</h3>
                        
                        {{ if .Page.Params.period }}
                        <p class="set-period">{{ .Page.Params.period }}</p>
                        {{end}}

                        {{ if .Page.Params.set_download }}
                        <a href="{{.Page.Params.set_download}}">Download set</a>
                        {{ end }}
                        </div>
                    </div>                
                </li>

               
                {{ range .Pages.ByParam "order" }}
                    <li class="card">
                        <h3 class="card-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Params.title }}</a></h3>

                        {{ if .Params.thumb_img_path }}
                        <img class="card-image" width="216" height="288" src="{{ .Params.thumb_img_path | relURL }}" alt="{{ .Params.title }}" />
                        {{ end }}
                    
                        <div>
                        <p class="card-subtitle">{{ .Params.subtitle }}</p>
                        </div>
                    </li>
                {{ end }}
            </ul>

            <!--
        
            <header>

                <h2 class="set-title">{{ .Page.Params.title }} {{ if .Page.Params.period }}<span class="timeline-period">{{ .Page.Params.period }}</span>{{ end }}</h2>

                {{ if .Page.Params.excerpt }}
                <div class="set-excerpt">
                    <p>{{ .Page.Params.excerpt }}</p>
                </div>
                {{ end }}
                {{ if .Page.Params.set_download }}
                <div>
                    <a href="{{.Page.Params.set_download}}">Download set</a>
                </div>
                {{ end }}
            </header>-->
        </section>
    {{ end }}
</div>