<div class="set-wrapper">
    {{ range sort .Site.Taxonomies.timeline ".Page.Params.order" "asc" }}
        <section class="set">
            <ul class="cards">
                {{ range .Pages.ByParam "order" }}
                    <li class="card">
                        <h3 class="card-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Params.title }}</a></h3>
                        
                        {{ if .Params.thumb_img_path }}
                        <img class="card-image" src="{{ .Params.thumb_img_path | relURL }}" alt="{{ .Params.title }}" />
                        {{ end }}
                    
                        <div>
                        <p class="card-subtitle">{{ .Params.subtitle }}</p>
                        </div>
                    </li>
                {{ end }}
            </ul>

            <div style="background-color: {{ .Page.Params.colour }}; width: 100%; height: 0.5em; margin-bottom: 0.5em;"></div>
        
            <header>

                <h2 class="set-title">{{ .Page.Params.title }}</h2>

                {{ if .Page.Params.period }}
                <div>({{ .Page.Params.period }})</div>
                {{ end }}

                {{ if .Page.Params.excerpt }}
                <div class="set-excerpt">
                    <p>{{ .Page.Params.excerpt }}</p>
                </div>
                {{ end }}

            </header>
        </section>
    {{ end }}
</div>