{{ define "content" }}
<article class="post page">
  <header class="post-header">
    <h1 class="post-title"><span style="background-color: {{ .Params.colour }}; width: 24px; height: 24px; border-radius: 12px; display: inline-block; margin-right: 8px;"></span>{{ .Title }}</h1>
  </header>
  {{ if .Params.excerpt }}
  <div class="post-subtitle">
    {{ .Params.excerpt | safeHTML }}
  </div>
  {{ end }}
  {{ if .Params.timeline_position}}
  <div class="post-thumbnail">
    <img class="thumbnail" src="{{ .Params.timeline_position | relURL }}" alt="{{ .Params.title }}" />
  </div>
  {{ end }}
  <div class="post-content">

<div class="post-feed">
    {{ range .Data.Pages.ByParam "order" }}
    <article class="post post-card">
        <div class="post-card-inside">
          {{ if .Params.thumb_img_path }}
          <a class="post-card-thumbnail" href="{{ .Permalink }}">
            <img class="thumbnail" src="{{ .Params.thumb_img_path | relURL }}" alt="{{ .Params.title }}" />
          </a>
          {{ end }}
          <div class="post-card-content">
            <header class="post-header">
              <h2 class="post-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Params.title }}</a></h2>
              <div class="post-subtitle">{{ .Params.subtitle }}</div>
            </header>
            <div class="post-excerpt">
              <p>{{ .Params.excerpt }}</p>
              <p class="read-more">
                <a class="button inverse" href="{{ .Permalink }}">View story</a>
              </p>
            </div>
          </div>
        </div>
      </article>
    {{ end }}
</div>

{{ .Content | safeHTML }}
</div>
</article>
{{ end }}