{{ define "content" }}
  <div class="post-feed">
        {{ range .Pages.ByParam "order" }}
        <article class="post post-card">
          <div class="post-card-inside">
             <div class="post-card-content">
              <header class="post-header">
                <h2 class="post-title"><span style="background-color: {{ .Page.Params.colour }}; width: 24px; height: 24px; border-radius: 12px; display: inline-block; margin-right: 8px;"></span><a href="{{ .Page.Permalink }}" rel="bookmark">{{ .Page.Params.title }}</a></h2>
                <div class="post-subtitle">{{ .Page.Params.subtitle }}</div>
              </header>
              <div class="post-excerpt">
                <p>{{ .Page.Params.excerpt }}</p>
                <p class="read-more">
                  <a class="button inverse" href="{{ .Page.Permalink }}">View set</a>
                </p>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
        
      </div>

{{ end }}
